@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="weightControlApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/style.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container-fluid header-background">
        <p>Das ist der Header</p>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
