
@{
    ViewBag.Title = "EditWeight";
    Layout = "~/Views/Shared/_ShellPage.cshtml";
}

<script src="~/Scripts/angular-pickadate.js"></script>
<link href="~/Styles/angular-pickadate.css" rel="stylesheet" />
<script src="~/AngularControllers/EditWeightController.js"></script>
<div ng-controller="EditWeightController">
    <div class="row">
        <div class="col-lg-6">
            <h2>Edit your Weight</h2>
            <form>
                <div class="form-group">
                    <label for="weightInput">Gewicht eingeben</label>
                    <input type="text" class="form-control" id="weightInput" placeholder="Text eingeben" ng-model="weight">
                    <div class="label label-danger" ng-show="weightisInvalid">Bitte eine Zahl eingeben</div><br />
                    <button ng-click="saveWeight()" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
        <div class="col-lg-6">
            
            <div pickadate ng-model="date"></div>

            {{date}}
            <br/>
            {{weight}}

        </div>
    </div>
</div>


