
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ShellPage.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <h2>Start Seite</h2>
        @Html.ActionLink("Gewicht eintragen", "EditWeight")
    </div>
</div>